<body>
<h2>Restaurant Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="id">Restaurant Id: </label>
    <input id = "id" autocomplete="off"  type="text" formControlName="id" class="form-control" />
  </div>
  <div class="form-group">
    <label for="password">Restaurant Password: </label>
    <show-hide-password size="lg" btnStyle="primary" [btnOutline]="false">
      <input id="password"  autocomplete="off"  type="password" formControlName="password" class="form-control" />
    </show-hide-password>
  </div>
  <div class="form-group">
    <button class="btn btn-primary">Login</button>
  </div>
</form>
<br>
