<body>
<h2>Connect With Existing Restaurant Account</h2>
<div> Restaurant already registered?<br>
  Click <a routerLink="/login/restaurant">here</a> to log in with your Restaurant ID.
</div>

<h2>Register a Restaurant</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="name">Restaurant Name: </label>
    <input id="name"  autocomplete="off"  type="text" formControlName="name" class="form-control" />
  </div>
  <div class="form-group">
    <label for="password">Password: (will be used for all employee access) </label>
    <show-hide-password size="lg" btnStyle="primary" [btnOutline]="false">
      <input id="password"  autocomplete="off"  type="password" formControlName="password" class="form-control" />
    </show-hide-password>
  </div>
  <div class="form-group">
    <button class="btn btn-primary">Register Restaurant</button>
  </div>
</form>
<br>
