<body>
<div class="row">
  <div class="left"></div>
  <div class="middle">
    <h1>My Restaurant</h1>
    <h2>{{currentRestaurant.name}}</h2>
    <br>
    Restaurant ID: {{currentRestaurant.id}}
    <br><br>
    <ul>Employees:
      <li *ngFor="let employee of currentRestaurant.employees">
        <body>{{employee.firstName}} {{employee.lastName}}</body>
      </li>
    </ul>
    <br>
    <ul>Admins:
      <li *ngFor="let admin of currentRestaurant.admin">
        <body>{{admin.firstName}} {{admin.lastName}}</body>
      </li>
    </ul>
  </div>
</div>
</body>
