page-home {
    .myview {
        background-image: url('../../assets/imgs/g2TpEe.jpg');
        text-align: center;
    }
    .login{
        margin-top: 10px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 40px 30px 30px 30px; 
        border:1px solid rgb(18, 154, 233);
    }
    .top-spacing{
        margin-top: 20px;
    }
    img {
        border-radius: 50%;
      }
}
